<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site - Admin</title>
    <link rel="stylesheet" href="/styles/astyles.css">
</head>
<body>
    <header>
        <div class="logo"><a href="/admin/">Dashboard</a></div>
        <nav>
            <ul>
                <li><a href="/admin/news">News</a></li>
                <li><a href="/admin/forms">Form</a></li>
                <li><a href="/admin/members">Members</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the <strong>Dashboard</strong>, (MEMBER_NAME)</h1>
        <h2>View and modify articles, forms, and members.</h2>
        <p><em>Use the white navigation bar on the top to navigate the panel.</em></p>
    </main>
    <footer>
        <a href="/" class="back-to-site">Back to Site</a>
        <a href="/logout">Logout</a>
    </footer>
</body>
</html>