<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site - Admin</title>
    <link rel="stylesheet" href="/styles/astyles.css">
</head>
<body>
    <header>
        <div class="logo"><a href="/admin/">Dashboard</a></div>
        <nav>
            <ul>
                <li><a href="/admin/news">News</a></li>
                <li><a href="/admin/forms">Form</a></li>
                <li><a href="/admin/members">Members</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>News</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Article</th>
                <th>Author</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>A Man Goes to New York</td>
                <td>Jake</td>
                <td>5/23/21</td>
                <td>
                    <a href="../news.html?id=1">View</a>
                    <a href="/editNews">Edit</a>
                    <a href="/deleteNews">Delete</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>A Man Goes to New York</td>
                <td>Jake</td>
                <td>5/23/21</td>
                <td>
                    <a href="../news.html?id=2">View</a>
                    <a href="/editNews">Edit</a>
                    <a href="/deleteNews">Delete</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>A Man Goes to New York</td>
                <td>Jake</td>
                <td>5/23/21</td>
                <td>
                    <a href="../news.html?id=3">View</a>
                    <a href="/editNews">Edit</a>
                    <a href="/deleteNews">Delete</a>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <a href="/" class="back-to-site">Back to Site</a>
        <a href="/logout">Logout</a>
    </footer>
</body>
</html>