<header>
    <div class="logo">News Site</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (isLoggedIn === true) { %>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>