<ul class="error_msg"><% if (messages.error_msg) { %>
    <li><%= messages.error_msg %></li>
<% } %></ul>
<ul class="success_msg"><% if (messages.success_msg) { %>
    <li><%= messages.success_msg %></li>
<% } %></ul>