<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>News Site</title>
</head>
<body>
    <div class="wrapper flayout">
        <%- include('partials/header.ejs') %>
        <main>
            <div class="form-card">
                <h1 style="padding-bottom: 0;">Contact Us</h1>
                <%- include('partials/statuses.ejs') %>
                <form action="/contact" method="POST" onsubmit="return confirm('Are you sure you want to submit this form?');">
                    <p>
                        <label for="cname">Name: </label>
                        <input type="text" id="cname" name="cname" required>
                    </p>
                    <p>
                        <label for="email">Email: </label>
                        <input type="email" id="email" name="email" required>
                    </p>
                    <p>
                        <label for="message">Message: </label>
                        <textarea name="message" id="message" cols="20" rows="10" required></textarea>
                    </p>
                        <input type="submit" value="Send Message">
                </form>
                <p class="info">We will respond to your message within 24-48 hours</p>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>