<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>News Site</title>
</head>
<body>
    <div class="wrapper nlayout">
        <header>
            <div class="logo">News Site</div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li> <!-- Disappear if user is logged in -->
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/admin/">Admin</a></li> <!-- Disappear if user role != 2 -->
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <div class="left-flex">
                    <h1>A Man Goes to New York According to Officials</h1>
                    <div class="a-author">By: Jake</div>
                    <time>5/22/21 at 1:26 P.M.</time>
                </div>
                <div class="right-flex">
                    <div class="a-avatar"><img src="static/imgs/avatar.png" alt="Avatar" width="64px" height=auto></div>
                </div>
                <hr style="width: 95%;">
                <div class="a-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ullamcorper luctus. Proin suscipit libero tempor purus faucibus luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet lectus id nisi accumsan hendrerit. Proin ex odio, semper sed pulvinar ut, efficitur vitae erat. Curabitur sed arcu mi. Vestibulum urna nulla, placerat a enim auctor, fermentum volutpat dolor. Aenean porta, urna eget sollicitudin congue, lacus diam laoreet enim, mattis eleifend lorem tellus at nulla. Suspendisse scelerisque aliquet leo, pellentesque iaculis quam scelerisque non. In tristique fermentum velit non pharetra.
                    <br><br>Maecenas sed tortor sit amet nunc malesuada scelerisque. Suspendisse efficitur tellus orci, vel facilisis arcu feugiat vel. Nulla in iaculis felis. Etiam rutrum mi felis, vitae congue risus accumsan vitae. Vivamus ut odio vel nisl tempor ornare at non turpis. In hac habitasse platea dictumst. Cras magna eros, fringilla in hendrerit et, congue ut nulla. Etiam sed neque ut ipsum sagittis elementum. Sed pellentesque felis sed sapien pellentesque, in iaculis odio rhoncus. In ac aliquam nisl, non ornare massa. Cras et risus nisi. Praesent ac risus ac augue venenatis interdum. Curabitur non commodo quam.
                    <br><br>Vivamus consectetur sodales tortor, eget varius lacus. Aliquam sed lacinia justo. Nulla feugiat, purus nec sagittis varius, turpis quam malesuada mauris, fringilla semper tortor quam nec nisi. Donec hendrerit elit sed nisi lobortis sodales. Quisque vel pellentesque ligula, finibus rhoncus diam. Etiam sit amet lacus ullamcorper, hendrerit risus vel, pellentesque risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus accumsan, nulla sit amet lacinia feugiat, lorem arcu tempus odio, sit amet elementum sapien sapien nec purus. Mauris iaculis gravida lorem, in mollis justo sodales vestibulum. Ut velit leo, auctor id nunc eget, consequat condimentum diam. Phasellus non convallis erat. Proin et consectetur arcu. Aenean egestas sodales bibendum. Donec sed ante non nunc convallis eleifend vitae eget nulla. Praesent vel diam consectetur, sollicitudin ligula a, lobortis ante.
                    <br><br>Etiam ac lacus neque. Nullam placerat urna ut lorem iaculis blandit. In malesuada, lacus a malesuada congue, elit augue ornare erat, sed dictum lacus sapien et velit. Aenean mattis dignissim quam a ultrices. Quisque eget quam ac velit pretium iaculis. In eget dolor magna. Morbi tempor ut tortor vel semper. Nulla vestibulum velit in suscipit consequat. Donec tempor iaculis blandit. Vestibulum viverra lorem ac dolor tristique, eu elementum enim placerat. Fusce rhoncus vestibulum scelerisque. In porttitor mauris a ligula consectetur fringilla. Nunc eget sem nec magna posuere semper. Ut sit amet fermentum lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    <br><br>Mauris imperdiet mattis dolor, aliquam luctus sapien ornare ut. Nullam sit amet purus placerat, fermentum odio sit amet, mollis lacus. Aliquam elementum placerat tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla gravida ante sed ipsum tincidunt, vitae gravida leo iaculis. Praesent nulla justo, imperdiet vehicula lorem vitae, laoreet semper lorem. Sed volutpat bibendum pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet lectus eget sem fringilla, eu iaculis nunc tristique. Curabitur maximus lorem sit amet luctus aliquet. Vivamus in hendrerit urna, id eleifend dolor. 
                    <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas ullamcorper luctus. Proin suscipit libero tempor purus faucibus luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet lectus id nisi accumsan hendrerit. Proin ex odio, semper sed pulvinar ut, efficitur vitae erat. Curabitur sed arcu mi. Vestibulum urna nulla, placerat a enim auctor, fermentum volutpat dolor. Aenean porta, urna eget sollicitudin congue, lacus diam laoreet enim, mattis eleifend lorem tellus at nulla. Suspendisse scelerisque aliquet leo, pellentesque iaculis quam scelerisque non. In tristique fermentum velit non pharetra.
                    <br><br>Maecenas sed tortor sit amet nunc malesuada scelerisque. Suspendisse efficitur tellus orci, vel facilisis arcu feugiat vel. Nulla in iaculis felis. Etiam rutrum mi felis, vitae congue risus accumsan vitae. Vivamus ut odio vel nisl tempor ornare at non turpis. In hac habitasse platea dictumst. Cras magna eros, fringilla in hendrerit et, congue ut nulla. Etiam sed neque ut ipsum sagittis elementum. Sed pellentesque felis sed sapien pellentesque, in iaculis odio rhoncus. In ac aliquam nisl, non ornare massa. Cras et risus nisi. Praesent ac risus ac augue venenatis interdum. Curabitur non commodo quam.
                    <br><br>Vivamus consectetur sodales tortor, eget varius lacus. Aliquam sed lacinia justo. Nulla feugiat, purus nec sagittis varius, turpis quam malesuada mauris, fringilla semper tortor quam nec nisi. Donec hendrerit elit sed nisi lobortis sodales. Quisque vel pellentesque ligula, finibus rhoncus diam. Etiam sit amet lacus ullamcorper, hendrerit risus vel, pellentesque risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus accumsan, nulla sit amet lacinia feugiat, lorem arcu tempus odio, sit amet elementum sapien sapien nec purus. Mauris iaculis gravida lorem, in mollis justo sodales vestibulum. Ut velit leo, auctor id nunc eget, consequat condimentum diam. Phasellus non convallis erat. Proin et consectetur arcu. Aenean egestas sodales bibendum. Donec sed ante non nunc convallis eleifend vitae eget nulla. Praesent vel diam consectetur, sollicitudin ligula a, lobortis ante.
                    <br><br>Etiam ac lacus neque. Nullam placerat urna ut lorem iaculis blandit. In malesuada, lacus a malesuada congue, elit augue ornare erat, sed dictum lacus sapien et velit. Aenean mattis dignissim quam a ultrices. Quisque eget quam ac velit pretium iaculis. In eget dolor magna. Morbi tempor ut tortor vel semper. Nulla vestibulum velit in suscipit consequat. Donec tempor iaculis blandit. Vestibulum viverra lorem ac dolor tristique, eu elementum enim placerat. Fusce rhoncus vestibulum scelerisque. In porttitor mauris a ligula consectetur fringilla. Nunc eget sem nec magna posuere semper. Ut sit amet fermentum lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    <br><br>Mauris imperdiet mattis dolor, aliquam luctus sapien ornare ut. Nullam sit amet purus placerat, fermentum odio sit amet, mollis lacus. Aliquam elementum placerat tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla gravida ante sed ipsum tincidunt, vitae gravida leo iaculis. Praesent nulla justo, imperdiet vehicula lorem vitae, laoreet semper lorem. Sed volutpat bibendum pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet lectus eget sem fringilla, eu iaculis nunc tristique. Curabitur maximus lorem sit amet luctus aliquet. Vivamus in hendrerit urna, id eleifend dolor. 
                </div>
            </article>
            <a href="/"><div class="news-btn" style="float: left; margin: 10px 5px;">Go Back</div></a>
        </main>
        <footer>
            <div class="copyright">&copy; Jake Buhite</div>
            <div class="contact-link"><a href="/contact">Contact Us</a></div>
        </footer>
    </div>
</body>
</html>