@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
    color: #e8e8e8;
}
/* CSS for News Page */
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px repeat(10, 1fr) 50px;
    grid-template-areas: 
    "header header header header header"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "lsidebar main main main rsidebar"
    "footer footer footer footer footer";
}
.news_content {
    grid-area: main;
    width: 100%;
    background-color: #FAFAFA;
    text-align: center;
    border: 1px solid #FAFAFA;
    border-radius: 25px;
}
.sidebar {
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 25px;
    width: 100%;
}
.sidebar_header {
    padding: 10px;
    margin: 15px 0;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 25px;
    text-align: center;
}
.sidebar.left {
    grid-area: lsidebar;
}
.sidebar.right {
    grid-area: rsidebar;
}
.news_card {
    width: 100%;
}

/* Login/Signup CSS */
.wrapper {
    height: calc(100vh - (70px + 50px));
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}
.header.login {
    height: 70px;
}
.footer.login {
    height: 50px;
}
.login_form {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
    background-color: #282828;
    border: 1px solid #282828;
    border-radius: 15px;
}

/* General CSS */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    width: 100%;
}
.small_title {
    flex-basis: 75%;
}
.large_title {
    font-size: 72px;
}
.navbar a {
    padding: 0 10px;
}
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #282828;
}
a {
    color: #8d7777;
    text-decoration: none;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 500px) {
}