<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site</title>
    <style>
        * {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            display: flex;
            flex-flow: nowrap column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        h1 {
            font-size: 84px;
            color: #fa0b3f;
        }
        img {
            max-width: 250px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="imgs/uhoh.png" alt="uh-oh face">
        <h1>Oh no!</h1>
        <div>The page you are looking for does not exist. Please head back <a href="/">home</a></div>
    </div>
</body>
</html>