<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="small_title">News Site</div>
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/login">Login / Signup</a> <!-- Make this only visible to those who are not logged in -->
                <a href="/admin">Admin</a> <!-- Make this only visible to those with permission -->
            </div>
        </div>
        <div class="sidebar left">
            <div class="sidebar_header">Forum Statistics</div>
        </div>
        <div class="content">
            <div class="news_card">News card 1</div>
            <div class="news_card">News card 2</div>
            <div class="news_card">News card 3</div>
        </div>
        <div class="sidebar right">
            <div class="sidebar_header">Recent News</div>
        </div>
        <div class="footer">
            <div class="small_title">&copy; Jake Buhite</div>
            <div><a href="/contact">Contact Us</a></div>
        </div>
    </div>
</body>
</html>