@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { 
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
    font-size: 16px;
    color: #282828;
}

/* Base CSS */
header {
    height: 65px;
}
footer {
    height: 75px;
}
header, footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: rgba(245, 245, 245, 1);
    background-color: rgba(40, 40, 40, 1);
    padding: 0 25px;
}
.logo, .back-to-site {
    flex-grow: 1;
}
nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}
a {
    text-decoration: none;
    color: rgba(245, 245, 245, 1);
}
a:hover {
    text-decoration: underline;
}
main {
    min-height: calc(100vh - (65px + 75px));
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
h1 {
    font-size: 2.75em;
    padding-bottom: 25px;
}

/* Forms/News/Members Page CSS */
table {
    border-collapse:collapse
}
th, td {
    padding: 10px;
}
th {
    background-color: #282828;
    color: whitesmoke;
}
td a {
    color: #282828;
    text-decoration: underline;
}
.admin-btn {
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(40, 40, 40, 1);
    border-radius: 15px;
    background-color: rgba(40, 40, 40, 1);
    color: rgba(245, 245, 245, 1);
    margin: 10px 5px;
}
.admin-btn:hover {
    border: 2px solid rgba(83, 83, 83, 1);
    background-color: rgba(83, 83, 83, 1);
}
.admin-btn a:hover {
    text-decoration: none;
}

/* View Form CSS */
.form-card.viewer > * {
    padding: 10px 0;
}

/* Edit Form CSS */
.form-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.form-card .info {
    padding: 25px;
}
form {
    width: 100%;
    text-align: center;
}
form p {
    clear: both;
    padding: 10px;
}
input, textarea {
    display: block;
}
input[type=text], input[type=password], input[type=email], textarea {
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
}
input[type=submit] {
    font-size: 1.15em;
    margin-top: 10px;
    background-color: #535353;
    border: 1px solid #535353;
    color: whitesmoke;
    padding: 10px 15px;
}
input[type=submit]:hover {
    background-color: #282828;
    border: 1px solid #282828;
}
textarea {
    width: 100%;
    resize: none;
}
textarea:focus, input:focus{
    outline: none;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
    .admin-card {
        width: 90%;
        min-width: 0;
    }
    main {
        padding: 15px;
    }
    h1 {
        font-size: 2em;
    }
    table {
        width: 90%;
    }
    table thead {
        display: none;
    }
    table tr, table td {
        display: block;
    }
    table tr {
        padding-right: 5px;
        background-color: #e8e8e8;
        border: 1px solid #282828;
        margin: 5px 0;
    }
    table td {
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
    }
}