<header>
    <div class="logo"><a href="/admin/">Dashboard</a></div>
    <nav>
        <ul>
            <li><a href="/admin/news">News</a></li>
            <li><a href="/admin/forms">Form</a></li>
            <li><a href="/admin/members">Members</a></li>
        </ul>
    </nav>
</header>